<div class="board">
  <div class="column" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="drop($event)">
    <h3>To Do</h3>
    <div *ngFor="let task of todo" cdkDrag class="task">
      <span>{{ task.title }}</span>
      <button class="move-btn" (click)="moveTaskToInProgress(task)"> &gt; </button>
    </div>
  </div>

  <div class="column" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
    [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)">
    <h3>In Progress</h3>
    <div *ngFor="let task of inProgress" cdkDrag class="task">
      <span>{{ task.title }}</span>
      <button class="move-btn" (click)="moveTaskToDone(task)"> &gt; </button>
    </div>
  </div>

  <div class="column" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event)">
    <h3>Done</h3>
    <div *ngFor="let task of done" cdkDrag class="task">
      <span>{{ task.title }}</span>
      <button class="delete-btn" (click)="deleteTask(task)"><i class="fas fa-trash"></i></button>
    </div>
  </div>
</div>

<button (click)="showAddTaskForm()" class="add-task-btn">+</button>

<div *ngIf="isAddTaskFormVisible" class="add-task-form">
  <input type="text" [(ngModel)]="newTaskTitle" placeholder="Digite o nome da tarefa" />
  <button (click)="addTask()" class="submit-task-btn">Adicionar</button>
  <button (click)="hideAddTaskForm()" class="cancel-task-btn">Cancelar</button>
</div>